@black: #000;
@orange: #CC6633;
@green: #A4CC33;
@whiteLightness: 100%;
@white: hsl(0, 0%, @whiteLightness);
@greyF4: hsl(0, 0%, calc(@whiteLightness - 4%));
@greyF3: hsl(0, 0%, calc(@whiteLightness - 5%));
@greyEC: hsl(0, 0%, calc(@whiteLightness - 7%));
@greyD9: hsl(0, 0%, calc(@whiteLightness - 15%));
@greyC4: hsl(0, 0%, calc(@whiteLightness - 23%));
@grey99: hsl(0, 0%, calc(@whiteLightness - 40%));
@grey66: hsl(0, 0%, calc(@whiteLightness - 60%));

.s50 svg {
  width: 50px;
  height: 50px
}

.s28 svg {
  width: 28px;
  height: 28px
}

.s20 svg {
  width: 20px;
  height: 20px
}

.s16 svg {
  width: 16px;
  height: 16px
}

.s14 svg {
  width: 14px;
  height: 14px
}

.s12 svg {
  width: 12px;
  height: 12px
}

.s10 svg {
  width: 10px;
  height: 10px
}

.black svg path {
  fill: @black;
}

.orange svg path {
  fill: @orange;
}

.green svg path {
  fill: @green;
}

.white svg path {
  fill: @white;
}

.grayF4 svg path {
  fill: @greyF4;
}

.greyF3 svg path {
  fill: @greyF3;
}

.greyEC svg path {
  fill: @greyEC;
}

.greyD9 svg path {
  fill: @greyD9;
}

.greyC4 svg path {
  fill: @greyC4;
}

.grey99 svg path {
  fill: @grey99;
}

.grey66 svg path {
  fill: @grey66;
}

@media all and (min-width: 320px) and (max-width: 1023px) {
  .m28 svg {
    width: 28px;
    height: 28px;
  }

  .m20 svg {
    width: 20px;
    height: 20px;
  }

  .m16 svg {
    width: 16px;
    height: 16px;
  }

  .m14 svg {
    width: 14px;
    height: 14px;
  }

  .m12 svg {
    width: 12px;
    height: 12px;
  }

  .m10 svg {
    width: 10px;
    height: 10px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1539px) {
  .t28 svg {
    width: 28px;
    height: 28px;
  }

  .t20 svg {
    width: 20px;
    height: 20px;
  }

  .t16 svg {
    width: 16px;
    height: 16px;
  }

  .t14 svg {
    width: 14px;
    height: 14px;
  }

  .t12 svg {
    width: 12px;
    height: 12px;
  }

  .t10 svg {
    width: 10px;
    height: 10px;
  }
}

@media all and (min-width: 1540px) {
  .d28 svg {
    width: 28px;
    height: 28px;
  }

  .d20 svg {
    width: 20px;
    height: 20px;
  }

  .d16 svg {
    width: 16px;
    height: 16px;
  }

  .d14 svg {
    width: 14px;
    height: 14px;
  }

  .d12 svg {
    width: 12px;
    height: 12px;
  }

  .d10 svg {
    width: 10px;
    height: 10px;
  }
}
